@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.inter-regular {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.teleport-overlay {
  @apply fixed inset-0 z-999 bg-black opacity-0 pointer-events-none;
  animation: teleportFlash 0.8s forwards;
}

@keyframes teleportFlash {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  30% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
